<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>JIRA-List</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/patternfly.min.css">
  <link rel="stylesheet" href="css/app.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="js/patternfly.min.js"></script>

  <script src="app.js"></script>
  <script src="services/services.js"></script>
  <script src="controllers/controllers.js"></script>
</head>
<body ng-app="myApp">

  <div id="top-header">
    <span class="primary">JIRA-List</span>
    <span class="secondary">Getting Things Done With JIRA</span>
  </div>
  
  <div id="content">

    <div id="left-panel" ng-controller="LeftPanelController">

       <div class="heading">
         <span>Bug Lists</span>
         <button ng-click="newList()" class="pull-right btn btn-default btn-xs" type="button"><i class="fa fa-plus"></i></button>
       </div>

       <div class="bug-lists">
         <div ng-repeat="list in lists track by list.id">
           <a ng-click="selectList( list )">
             <div class="bug-list-item" ng-class="{ active: isActive(list) }">
               <span style="padding-left: 10px">{{ list.name }}</span>
               <i class="fa fa-chevron-right pull-right"></i>
             </div>
           </a>
         </div>
       </div>
    </div>

    <div id="right-panel" ng-controller="BugListController" role="tabpanel" ng-show="activeList.id != -1">
    
        <!-- The New Issue modal dialog -->
        <div class="modal fade" id="newIssueModal" tabindex="-1" role="dialog" aria-labelledby="newIssueModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  <span class="pficon pficon-close"></span>
                </button>
                <h4 class="modal-title" id="newIssueModalLabel">Add New Issue</h4>
              </div>
              <div class="modal-body">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="new-issue-summary">Summary</label>
                    <div class="col-sm-9">
                      <input ng-model="newIssue.summary" type="text" id="new-issue-summary" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="new-issue-description">Description</label>
                    <div class="col-sm-9">
                      <textarea ng-model="newIssue.description" id="new-issue-description" class="form-control" style="height: 100px"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="new-issue-type">Type</label>
                    <div class="col-sm-9">
                      <select ng-model="newIssue.type" id="new-issue-type" class="form-control" ng-options="issueType.name for issueType in settings.issueTypes">
                      </select>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button ng-disabled="!newIssue.summary || !newIssue.description" type="button" class="btn btn-primary" ng-click="createNewIssue(newIssue)" data-dismiss="modal">Create</button>
              </div>
            </div>
          </div>
        </div>


        <!-- The "Mark as Done" modal dialog -->
        <div class="modal fade" id="markAsDoneModal" tabindex="-1" role="dialog" aria-labelledby="markAsDoneModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  <span class="pficon pficon-close"></span>
                </button>
                <h4 class="modal-title" id="markAsDoneModalLabel">Mark Issue as Done</h4>
              </div>
              <div class="modal-body">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="mark-as-done-fixed-in">Fixed In</label>
                    <div class="col-sm-9">
                      <select ng-model="madData.fixedIn" id="mark-as-done-fixed-in" class="form-control" ng-options="version.name for version in settings.finalVersions track by version.id">
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="mark-as-done-pr">Pull Request</label>
                    <div class="col-sm-9">
                      <textarea ng-model="madData.pr" id="mark-as-done-pr" class="form-control" style="height: 75px"></textarea>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button ng-disabled="!madData.fixedIn" type="button" class="btn btn-primary" ng-click="markAsDone(madData)" data-dismiss="modal">Mark as Done</button>
              </div>
            </div>
          </div>
        </div>


        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#issues" aria-controls="issues" role="tab" data-toggle="tab">Issues</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
        </ul>
        
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="issues">
                <div style="margin-top: 15px">
                  <input class="filter" type="text" ng-model="issueFilter" placeholder="Filter issues..."></input>
                  <input style="margin-left: 8px" id="my-stuff" class="" type="checkbox" ng-model="myStuffOnly"></input>
                  <label for="my-stuff">Show Only My Stuff</label>
                  <button id="refresh-list" ng-disabled="refreshing" class="btn btn-default pull-right" ng-click="refreshList()">Refresh List</button>
                  <button ng-show="settings.project && settings.fixVersion && settings.issueTypes" class="btn btn-primary pull-right" ng-click="openNewIssueDialog()">New Issue</button>
                </div>
                <div class="list-table">
                    <table class="datatable table table-striped table-bordered bug-list" style="margin-top: 5px">
                        <thead>
                            <tr>
                                <th ng-click="order('key')">Key</th>
                                <th ng-click="order('summary')">Summary</th>
                                <th ng-click="order('status')">Status</th>
                                <th ng-click="order('priority.id')">Priority</th>
                                <th ng-click="order('assignee')">Assignee</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="issue in data | filter:issueFilter | orderBy:predicate:reverse | filter:{assigneeId: assigneeIdFilter} track by issue.key" class="issue-row">
                                <td nowrap="nowrap">
                                  <img title="{{ issue.type }}" src="{{ issue.icon }}"></img>
                                  <a target="_blank" href="https://issues.jboss.org/browse/{{ issue.key }}">{{ issue.key }}</a>
                                </td>
                                <td>
                                  <span>{{ issue.summary }}</span>
                                </td>
                                <td nowrap="nowrap">{{ issue.status }}</td>
                                <td nowrap="nowrap"><img title="{{ issue.priority.name }}" ng-src="{{ issue.priority.iconUrl }}"> {{ issue.priority.name }}</td>
                                <td nowrap="nowrap">
                                  <img src="{{ issue.avatar }}"></img>
                                  <span>{{ issue.assignee }}</span>
                                </td>
                                <td nowrap="nowrap">
                                  <button title="Mark as Done" ng-show="issue.status === 'Open' || issue.status === 'Coding In Progress'" ng-click="openMarkAsDoneDialog(issue)" class="btn btn-default btn-xs" type="button"><i class="fa fa-check"></i></button>
                                  <button title="Assign to Me" ng-hide="activeList.username === issue.assigneeId" ng-click="assignToMe(issue)" class="btn btn-default btn-xs" type="button"><i class="fa fa-user"></i></button>
                                  <button title="Start Progress" ng-show="issue.status === 'Open' && activeList.username === issue.assigneeId" ng-click="startProgress(issue)" class="btn btn-default btn-xs" type="button"><i class="fa fa-play"></i></button>
                                  <button title="Stop Progress" ng-show="issue.status === 'Coding In Progress' && activeList.username === issue.assigneeId" ng-click="stopProgress(issue)" class="btn btn-default btn-xs" type="button"><i class="fa fa-stop"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="settings">
                <h1>List Settings</h1>
                <hr />
                <form class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-1 control-label" for="settings-name">Name:</label>
                    <div class="col-sm-6">
                      <input type="text" id="settings-name" class="form-control" ng-model="settings.name">
                    </div>
                  </div>
<!--                   <div class="form-group"> -->
<!--                     <label class="col-sm-1 control-label" for="settings-jira">JIRA:</label> -->
<!--                     <div class="col-sm-8"> -->
<!--                       <input type="text" id="settings-jira" class="form-control" ng-model="settings.jira"> -->
<!--                     </div> -->
<!--                   </div> -->
                  <div class="form-group">
                    <label class="col-sm-1 control-label" for="settings-username">Username:</label>
                    <div class="col-sm-8">
                      <input type="text" id="settings-username" class="form-control" ng-model="settings.username">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-1 control-label" for="settings-password">Password:</label>
                    <div class="col-sm-8">
                      <input type="password" id="settings-password" class="form-control" ng-model="settings.password">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-1 control-label" for="settings-project">Project:</label>
                    <div class="col-sm-8">
                      <select id="settings-project" ng-options="project.key for project in projects | orderBy:'key'" ng-model="settings.project" ng-change="refreshBoth()">
                        <option value="">Select a project</option>
                      </select>
                      <button style="margin-top: -3px" id="refresh-projects" ng-click="refreshProjects()" class="btn btn-default" type="button"><i class="fa fa-refresh"></i></button>
                    </div>
                  </div>
                  <div class="form-group" ng-show="settings.project">
                    <label class="col-sm-1 control-label" for="fix-version">Version:</label>
                    <div class="col-sm-8">
                      <select id="settings-project" ng-options="version.name for version in versions" ng-model="settings.fixVersion">
                        <option value="">Select a version</option>
                      </select>
                      <button style="margin-top: -3px" id="refresh-fix-versions" ng-click="refreshVersions()" class="btn btn-default" type="button"><i class="fa fa-refresh"></i></button>
                    </div>
                  </div>
                  <div class="form-group" ng-show="settings.project">
                    <label class="col-sm-1 control-label" for="fix-version">Issue Types:</label>
                    <div class="col-sm-8">
                      <div style="float:left; min-width: 200px; border: 1px solid #bababa; min-height: 20px">
                        <table style="min-width: 200px"> 
                          <tr ng-repeat="issueType in settings.issueTypes">
                            <td style="padding-left: 5px; padding-right: 5px">
                             {{ issueType.name }}
                            </td>
                          </tr>
                        </table>
                      </div>
<!--                       <select style="float:left; min-width: 200px" multiple="multiple" id="issue-types" ng-options="issueType.name for issueType in settings.issueTypes"> -->
<!--                       </select> -->
                      <button style="margin-left: 5px; float: left;" id="refresh-issue-types" ng-click="refreshIssueTypes()" class="btn btn-default" type="button"><i class="fa fa-refresh"></i></button>
                    </div>
                  </div>
                </form>
                <hr />
                <button ng-disabled="!isDirty || !isValid" class="btn btn-primary" ng-click="saveSettings()">Save</button>
                <button ng-disabled="!isDirty" class="btn btn-default" ng-click="cancelSettings()">Cancel</button>
                <button style="margin-left: 20px;" class="btn btn-danger" ng-click="deleteSettings()">Delete</button>
            </div>
        </div>
    </div>
  </div>
  
  <script type="text/javascript">
    $('#newIssueModal').on('shown.bs.modal', function () {
      $('#new-issue-summary').focus()
    });
  </script>
  
</body>
</html>
